<extend name="Public/base"/>

<block name="style">
    <script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
</block>

<block name="body">
	<div class="main-title">
		<h2>
			{$list['id']?'编辑':'新增'}类别
		</h2>
	</div>
	<form action="{:U()}" method="post" class="form-horizontal">
		<div class="form-item">
			<label class="item-label">类别：</label>
			<div class="controls">
				<input type="text" class="text input-large" name="name" value="{$list.name|default=''}">
			</div>
		</div>
        <div class="form-item">
			<input type="hidden" name="id" value="{$list.id|default=''}">
			<button class="btn" id="submit" type="submit" target-form="form-horizontal">确 定</button>
			<button class="btn" onclick="javascript:history.back(-1);return false;">返 回</button>
		</div>
	</form>
</block>
<block name="script">
<script type="text/javascript" charset="utf-8">
	//导航高亮
	highlight_subnav('{:U('index')}');
</script>
</block>
