<form action="{:U()}" method="post" class="form-horizontal">
		<div class="form-item">
			<label class="item-label">广告标题</label>
			<div class="controls">
				<input type="text" class="text input-large" name="title" value="{$list.title|default=''}">
			</div>
		</div>
        <div class="form-item">
            <label class="item-label">广告位置</label>
            <input type="radio" name="is_pomo" id="is_pomo" value="1" <?php if($list['is_pomo']==1) echo("checked");?>/>全平台
            <input type="radio" name="is_pomo" id="is_pomo" value="0" <?php if($list['is_pomo']==0) echo("checked");?>/>购物中心
        </div>
        <div class="form-item">
            <label class="item-label">购物中心：</label>
            <!-- <select name="mall_id" id="mall" style="width:200px"> -->
                <!-- <option value="" >请选择</option> -->
                <foreach name='mall' item='v'>
                    <input type="checkbox" name="mall_id[]" id="mall_id[]" value="{$v[id]}" <?php if(in_array($v[id],explode(',',$list[mall_id]))) echo("checked");?>/>{$v[name]}
                    <!-- <option value="{$v['id']}" <eq name="list.mall_id" value="$v[id]">selected</eq> >{$v.name}</option> -->
                </foreach>
            <!-- </select> -->
        </div>
		<div class="form-item">
            <label class="item-label">广告图</label>

            <div class="controls">
                <input type="file" id="uploadPic">
                <input type="hidden" name="image" id="image" value="{$list.image|default=''}"/>
                <div class="upload-img-box">
                    <notempty name="list.image">
                        <div class="upload-pre-item"><img src="__ROOT__{$list.image}"/></div>
                    </notempty>
                </div>
                <script type="text/javascript">
                    //上传图片
                    /* 初始化上传插件 */
                    $("#uploadPic").uploadify({
                        "height"          : 30,
                        "swf"             : "__STATIC__/uploadify/uploadify.swf",
                        "fileObjName"     : "download",
                        "buttonText"      : "上传图片",
                        "uploader"        : "{:U('Ad/image_upload')}",
                        "width"           : 120,
                        'removeTimeout'	  : 1,
                        'fileTypeExts'	  : '*.jpg; *.png; *.jpeg;',
                        "onUploadSuccess" : uploadPic,
                        'onFallback' : function() {
                            alert('未检测到兼容版本的Flash.');
                        }
                    });
                    function uploadPic(file, data){
                        console.log(data);
                        var data = JSON.parse($.trim(data));
                        var src = '';
                        if(data.status){
                            src = data.url || '__ROOT__' + data.data.image;
                            $('#image').val(data.data.image);
                            $("#image").parent().find('.upload-img-box').html(
                                            '<div class="upload-pre-item"><img src="' + src + '"/></div>'
                            );
                        } else {
                            var that;
                            updateAlert(data.info);
                            setTimeout(function(){
                                $('#top-alert').find('button').click();
                                $(that).removeClass('disabled').prop('disabled',false);
                            },1500);
                        }
                    }
                </script>
            </div>

        </div>
        <div class="form-item">
			<input type="hidden" name="id" value="{$list.id|default=''}">
			<button class="btn" id="submit" type="submit" target-form="form-horizontal">确 定</button>
			<button class="btn" onclick="javascript:history.back(-1);return false;">返 回</button>
		</div>
	</form>