<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>{$list['id']?'编辑':'新增'}顾客</h2>
    </div>
    <form action="{:U()}" method="post" class="form-horizontal">
        <div class="form-item">
            <label class="item-label">手机号</label>
            <div class="controls">
                <input type="text" class="text input-large" name="mobile" value="{$list.mobile|default=''}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">昵称</label>
            <div class="controls">
                <input type="text" class="text input-large" name="nickname" value="{$list.nickname|default=''}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">头像</label>
            <div class="controls">
                <input type="text" class="text input-large" name="head" value="{$list.head|default=''}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">客户端ID</label>
            <div class="controls">
                <input type="text" class="text input-large" name="clientid" value="{$list.clientid|default=''}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">最后登录时间</label>
            <div class="controls">
                <input type="text" class="text input-large" name="lasttime" value="{$list.lasttime|default=''}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">所在地</label>
            <div class="controls">
                <input type="text" class="text input-large" name="place" value="{$list.place|default=''}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">喜好</label>
            <div class="controls">
                <input type="text" class="text input-large" name="hobby" value="{$list.hobby|default=''}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">生日</label>
            <div class="controls">
                <input type="text" class="text input-large" name="mobile" value="{$list.birthday|default=''}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">状态</label>
            <div class="controls">
                <input type="text" class="text input-large" name="status" value="{$list.status|default=''}">
            </div>
        </div>


        <div class="form-item">
            <input type="hidden" name="id" value="{$list.id|default=''}">
            <button class="btn" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <button class="btn" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
</block>

<block name="script">
    <script type="text/javascript">
        //导航高亮
        highlight_subnav('{:U('User/fuser')}');
    </script>
</block>
